img{   
    height:250px;
    width:400px;
}
.register{    
    position:absolute;
    margin-top:100px;
    margin-left:500px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    border-right:1px solid white;
    border-bottom:1px solid white;
    backdrop-filter:blur(5px);
    height:600px;
    width:850px;
}
.img{
    margin-top: 175px;
    margin-left: 30px;
}
.data{
    margin-top:100px;
    margin-left: 30px;
}
.signup{
    margin-top:50px;
    margin-left:100px;
}
.name,.email,.password,.submit{
    margin-top:20px;
    display: flex;
}
.logo{
    height:50px;
    width:50px;
}
input{
    margin-top: 10px;
    margin-left: 15px;
    height:30px;
    width:200px;
    padding-left: 10px;
    font-size: 15px;
}
.submit{
    margin-top:30px;
    margin-left:100px;
    background-color:rgb(40, 113, 247);
    height:40px;
    width:100px;
    padding-left:10px;
    padding-top: 7px;
    color:white;
    font-size: 20px;
    border-radius: 5px;
    border:none;
}