.container {
    margin-top:50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three equal-width columns */
    grid-column-gap: 60px; /* Column gap */
    grid-row-gap: 30px;
  } 
  .dark-theme,.dark-card{
    background-color: black;
    color:rgba(255,255,255,.55);
  }
  .dark-card{
    border:2px solid rgb(90, 87, 87);
  }
  .app-dark{
    background-color: black;
  }
  /* .card{
    border-radius: 10px 10px 10px 10px;
    transition: background-color 0.3s ease;    
  } */
  .list-group-dark{
    background-color: black;
    color:rgba(255,255,255,.55);
  }
  .author{
    margin-left: 15px;
  }
  .card {
    border-radius: 10px;
    transition: transform 0.3s ease, background-image 0.3s ease;
    /* Other styles remain unchanged */
  }
  
  .card:hover {
    transform: translateY(-10px); /* Moves the card up smoothly */
    background-image: linear-gradient(to right, #ff6c47, #e9a26c);
    color: black;
  }
  /* .card:hover {
    background-image: linear-gradient(to right, #ff6c47, #e9a26c);   
    position: relative; 
    top: -10px;
    transition: 1s;
    color:black;
  } */
  .card-img-top {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px 10px 10px 10px;
    /* Ensure the image fits within the card */
    width: calc(100% - 10px);
    height: 200px; /* Adjust width to account for left and right margins */
    /* Adjust height automatically to maintain aspect ratio */
  }
  .fav-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 130px;
  }
  
  .fav-button:focus {
    outline: none;
  }